@use "./variables.scss" as *;

// put your custom CSS here!

body, article, p, li, a, span, blockquote, table,
h1, h2, h3, h4, h5, h6,
.page-title, .article-title, .content-meta, .breadcrumb-container {
  font-family: "Eczar", serif !important;
}

code, pre, pre * {
  font-family: "IBM Plex Mono", monospace !important;
}

:root[saved-theme="dark"] {
  --lightgray: #5a5a5a !important;
}

:root[saved-theme="light"] {
  --lightgray: #c8c8c8 !important;
}