@use "./variables.scss" as *;

// put your custom CSS here!

:root {
  --headerFont: "Eczar", serif !important;
  --bodyFont: "Eczar", serif !important;
}

:root[saved-theme="dark"] {
  --lightgray: #5a5a5a !important;
}

:root[saved-theme="light"] {
  --lightgray: #c8c8c8 !important;
}